body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.carousel {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 20px;
  flex-wrap: nowrap; /* impede que quebrem linha */
}

.carousel img {
  width: calc((100% - 50px) / 6); /* 6 imagens, 5 gaps de 10px */
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}


h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  margin: 20px 0;
  color: white;
}

.declaracao {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.1em;
  padding: 20px;
}

.contador {
  margin: 40px auto;
}

.contador h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.tempo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.tempo div {
  background-color: #222;
  padding: 15px;
  border-radius: 10px;
  min-width: 90px;
}

.tempo div span {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

footer {
  margin: 30px 0;
}