body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.carousel {
  display: flex;
  gap: 10px;             /* espaço entre as imagens */
  border-radius: 20px;
  width: 100%;
}

.carousel img {
  flex-grow: 1;          /* todas crescem igualmente para preencher o espaço */
  flex-basis: 0;         /* base zero para dividir o espaço igualmente */
  height: auto;
  max-height: 500px;     /* limite máximo de altura */
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.5s ease-in-out;
}



h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  margin: 20px 0;
  color: white;
}

.declaracao {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.1em;
  padding: 20px;
}

.contador {
  margin: 40px auto;
}

.contador h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.tempo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.tempo div {
  background-color: #222;
  padding: 15px;
  border-radius: 10px;
  min-width: 90px;
}

.tempo div span {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

footer {
  margin: 30px 0;
}